#search {
  .particles-background {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: 0;
  }

  .search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .search-message {
    color: rgba(255, 255, 255, 0.8);
    font-size: 12px;
    letter-spacing: 1.2px;
    margin-top: 7px;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
  }

  .search-input {
    margin-top: 30px;
    width: 100%;
  }

  .am-search {
    height: 40px;
  }

  .am-search-input {
    height: 40px;
  }

  .am-search-synthetic-ph {
    display: none;
  }

  .am-search-value {
    height: 40px;
  }

  .am-search-clear {
    height: 27px;
  }

  .am-search {
    padding: 0;
  }

  .am-search-cancel {
    height: 40px;
    line-height: 40px;
    padding: 0 15px 0 15px;
    color: #ecf0f1;
    background-color: #3498db;
  }

  .search-list-item {
    width: 330px;
  }

  .am-activity-indicator-tip {
    color: #fff;
    opacity: 0.9;
  }
}
